<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Sobre Nosotros</h2>
                    <h3 class="section-subheading text-muted">En Mimos & Glamour, nos apasiona el bienestar y la belleza de las mascotas. Con años de experiencia en el cuidado y estilismo canino, ofrecemos un servicio profesional con amor y dedicación. Nuestro objetivo es que cada perrito se sienta especial y salga con una apariencia impecable.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Misión</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Brindar a cada mascota una experiencia relajante y segura, donde reciban el mejor cuidado, higiene y estilismo para su bienestar y felicidad.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Vision</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Ser la estética canina de referencia en Cancún ofreciendo un servicio personalizado que garantice la comodidad y satisfacción de cada mascota y su dueño.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                   
                                    <h4 class="subheading">Valores</h4>
                                </div>
                                <div class="timeline-body">
                            <p class="text-muted"><strong>Amor por los animales:</strong> Tratamos a cada mascota con el respeto y cariño que se merece.</p>
                            <p class="text-muted"><strong>Profesionalismo:</strong> Nuestro equipo está capacitado para ofrecer un servicio de alta calidad.</p>
                            <p class="text-muted"><strong>Paciencia y Cuidado:</strong> Nos aseguramos de que cada perrito tenga una experiencia sin estrés.</p>
                            <p class="text-muted"><strong>Innovación:</strong> Utilizamos productos de alta calidad y técnicas actualizadas en estilismo canino.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                            
                                    <h4 class="subheading">¿Por qué Elegirnos?</h4>
                                </div>
                                <div class="timeline-body">
                                <p class="text-muted"><strong>Atención personalizada:</strong> Adaptamos cada servicio a las necesidades de tu mascota.</p>
                                <p class="text-muted"><strong>Ambiente seguro y cómodo:</strong> Espacios diseñados para reducir el estrés y que tu perro se sienta en casa.</p>
                                <p class="text-muted"><strong>Productos de alta calidad:</strong> Utilizamos productos hipoalergénicos y seguros para cada tipo de pelaje.</p>
                                <p class="text-muted"><strong>Experiencia y pasión:</strong> Nuestro equipo está altamente capacitado para cuidar a tu mascota con cariño.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Únete a
                                    <br>Nuestra
                                    <br>Aventura canina!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
